{{!-- Abilities Tab Content --}}
<div class="tab abilities" data-group="primary" data-tab="abilities">
    <h2>Abilities</h2>
    <p class="tab-placeholder">Abilities will be implemented here</p>
</div>
