{{!-- Equipment Tab Content --}}
<div class="tab equipment" data-group="primary" data-tab="equipment">
    <h2>Equipment</h2>
    <p class="tab-placeholder">Equipment will be implemented here</p>
</div>
